@media screen and (max-width:1200px) {
    .device {
        left: 20%;
        top: -36px;
    }
    footer li {
        margin-right: 10%;
    }
    .feature-content {
        width: 55%;
    }
    .features-slider li p {
        color: #fff;
        font-size: 20px;
        margin-left: 20%;
        padding-left: 9%;
        margin-top: 4%;
    }
}

@media screen and (max-width:991px) {
    .feature-1,
    .feature-2 {
        margin-bottom: 50px;
    }
    .device {
        display: none;
    }
    .screenshots ul li {
        width: 40%;
    }
    .screenshots-intro {
        padding: 110px 0 100px 0;
    }
    .feature-content {
        width: 80%;
    }
    .features-slider {
        height: 100%
    }
}

@media screen and (max-width:680px) {
    .feature-content {
        width: 60%;
    }
}

@media screen and (max-width:640px) {
    footer li {
        display: block;
        text-align: left;
        padding: 20px 0;
        border-bottom: dashed 1px #c7cacc;
        margin-right: 0!important;
        float: none;
    }
    nav {
        margin-top: 40px;
    }
    .overlay ul {
        margin-left: 0px;
    }
    .overlay ul li a {
        padding: 20px 0;
        min-width: 120px;
        font-size: 12px;
    }
    footer img {
        width: 40%;
        margin-top: 2%;
        margin-left: 0;
    }
}

@media screen and (max-width:465px) {
    .hero h1 {
        font-size: 40px;
        margin: 100px 0 45px 0
    }
    #why h2 {
        margin-top: 4%;
        margin-bottom: -2%;
        /*padding-left: 30%;*/
        text-align: center;
        font-size: 26px;
        font-weight: bolder;
        font-family: sans-serif;
    }
    #ser h2 {
        margin-top: 4%;
        margin-bottom: -2%;
        padding-left: 37%;
        font-family: sans-serif;
    }
    #News h2 {
        padding-left: 33%;
        /* background-color: red; */
        font-family: sans-serif;
    }
    .screenshots ul li {
        width: 80%;
        min-height: 100%;
        float: none;
    }
    section.video i {
        font-size: 30px;
    }
    section.video h1 {
        font-size: 15px;
        font-weight: 400;
    }
    section.video {
        padding: 40px;
    }
    .feature-content {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .feature-icon {
        display: block;
        margin: 0 auto;
    }
    blockquote p {
        width: 60%;
    }
    .features-slider {
        padding: 11% 50px 10% 50px;
    }
    #featuresSlider p img {
        width: 50%;
        height: 20%;
        float: left;
        margin-top: -3%;
        margin-left: -27%;
    }
    #reg a {
        /* visibility: hidden; */
        font-size: 10px;
        padding: 4%;
        margin-right: 18%;
        margin-top: -5%;
    }
    .nav-toggle {
        position: absolute;
        top: 0px;
        right: 14px;
        z-index: 999999;
        padding: 10px 35px 16px 0px;
        cursor: pointer;
    }
    .navicon p {
        visibility: hidden;
    }
    .screenshots figure img {
        width: 100%;
        height: 100%;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        padding: 1%;
        margin-top: 2%;
        padding-right: 9%;
        margin-bottom: 2%;
    }
    .screenshots .services_li {
        margin-left: 10%;
    }
    footer img {
        width: 40%;
        margin-top: 2%;
        margin-left: 0;
    }
    /*#mySidenav {
        width: 165px;
    }*/
    .navicon {
        position: absolute;
        height: 26px;
        float: right;
        margin-left: 46%;
        margin-top: 5%;
    }
    .use-btn {
        display: inline-block;
        margin: 0px 10px 10px 5%;
        padding: 5%;
        border-radius: 3px;
        background-color: #333;
        color: #4b98a9;
        font-size: 16px;
        font-weight: bold;
    }
    .learn-btn {
        display: inline-block;
        padding: 5%;
        border: 2px solid #333;
        border-radius: 3px;
        color: #333;
        font-size: 16px;
        margin-left: 1%;
        font-weight: bold;
    }
    .hero img {
        opacity: 1;
        width: 400%;
        margin-left: -40%;
        margin-top: 1%;
    }
}

@media screen and (max-width:450px) {
    .hero img {
        opacity: 1;
        width: 50px;
        margin-left: -40%;
        margin-top: -3%;
    }
    .use-btn {
        display: inline-block;
        margin: 0px 10px 10px 5%;
        padding: 13px 7%;
        border-radius: 3px;
        font-weight: bolder;
        background-color: #33b1ec;
        color: #ffffff;
        font-size: 16px;
    }
    .learn-btn {
        display: inline-block;
        padding: 10px 1%;
        border: 2px solid #333;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        margin-left: 1%;
        font-weight: bold;
    }
    #downkey img {
        position: absolute;
        margin-left: 90%;
        /* float: right; */
        width: 9%;
    }
    .back-top {
        width: 3%;
        /* height: 25%; */
        /* background: #ff0000; */
        position: fixed;
        bottom: 2%;
        right: 11%;
        display: none;
        opacity: 0.8;
    }
}
